<h1> Printing User's Information</h1>
<p>
  <strong>User Id:</strong>
  <%= @user.user_id %>
</p>
 
<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>
 
<p>
  <strong>Service:</strong>
  <%= @user.service %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.user_tel %>
</p>
 
<p>
  <strong>Mail:</strong>
  <%= @user.user_mail %>
</p>

<p>
  <strong>Office:</strong>
  <%= @user.office %>
</p>
 
<p>
  <strong>Certificate Name:</strong>
  <%= @user.certificate_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<h1> Show User's Hosts</h1>
<%= render @user.hosts %>

<h1>Add a Host for this user:</h1>
<p> <%= render 'hosts/form' %> </p>
<!-- show the following two lines only if user isAdmin to do-->
<p><%= link_to 'Edit user', edit_user_path(@user) %></p>
<p><%= link_to 'Show all users', users_path %></p>
<!-- if user isAdmin or not show -->
<p><%= link_to 'Back to home page', root_path %></p>

<!-- if user isAdmin -->

 